  .relative {
    position:relative;
  }
  .relative_img {
    margin: 0 0 0 auto;
    display: block;
    width:50%;
  }
  .abusolute {
    position:absolute;
    top:50%;
    left:20%;
    font-size:50px;
  }
  