p {
  font-size: 25px;
  font-family: "Arial Black";
  color: #000080;
  display: inline-block;
}

ul.gnav-navi-1 {
  background: #fff;
  padding: 0px;
  text-align: right;
  top: 0;
}

ul.gnav-navi-1 li {
  display: inline-block;
}

ul.gnav-navi-1 li a {
  display: block;
  top: 0;
  color: #000080;
  text-decoration: none;
  display: inline-block;
}

ul.gnav-navi-1 a::first-line {
  font-size: 16px;
  font-weight: bold;
}

img {
  width: 700px;
  height: 500px;
  position: relative;
  left: 700px;
  padding: 100px;
}

.ws {
  font-size: 40px;
  font-family: impact;
  top: 400px;
}

.box {
  width: 200px;
  height: 100px;
  background: #000080;
  top: 500px;
}