.header {
  display: flex;
}

.header-list {
  list-style: none;
  padding: 0;
  text-align: center;
  justify-content: flex-end;
  margin-top: 6px;
  margin-left: 35%;
  font-family: serif;
}

.header-list li {
  display: inline-block;
}

.picture {
  margin-right: 10%;
  width: 115px;
  height: 28px;
}

.relative {
  position: relative;
}

.relative_img {
  width: 200px;
  height: 200px;
  justify-content: flex-end;
  display: block;
  width: 500px;
  height: 350px;
  margin-left: 50%;
}

.relative_it {
  position: absolute;
  top: 8%;
  left: 15%;
  color: #dc143c;
  font-family: cursive;
}

span {
  color: aqua;
}

.relative_itt {
  position: absolute;
  top: 53%;
  left: 13%;
  color: #dc143c;
  font-size: 15px;
  font-family: "impact";
}

.relative_ittt {
  position: absolute;
  top: 62%;
  left: 15%;
  font-size: 10px;
  font-family: "bantangche";
}

.section {
  display: block;
  justify-content: left;
}

.section-ti {
  list-style: none;
  margin-top: 2%;
  margin-left: 20%;
  letter-spacing: 10px;
}

.news-1 {
  border-bottom: solid 1px black;
}

.news-2 {
  border-bottom: solid 1px black;
}

.news-3 {
  border-bottom: solid 1px black;
}

.news-4 {
  border-bottom: solid 1px black;
}

.news-5 {
  border-bottom: solid 1px black;
}

.news {
  margin-top: 6%;
  margin-left: 20%;
  font-family: cursive;
  color: #dc143c;
}

.section-it {
  margin-top: -2%;
  margin-left: 20%;
}

.spa {
  color: #dc143c;
}